body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #297eff;
    min-height: 100vh;
}

.search-country{
    line-height: 20px;
}

h1{
    font-weight: bold;
}
input{
    padding: 10px 40px;
    border-radius: 10px;
}
